.survey {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.survey h2 {
  font-size: 18px;
  margin-top: 70px;
}
.survey form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 600px;
  width: 100%;
}
.survey form .questions {
  margin-top: 40px;
  font-weight: 700;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.survey form .questions .inputWrapper {
  position: relative;
  background-color: var(--cinza);
  color: var(--branco);
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  border-radius: 9px;
}
.survey form .questions .inputWrapper input {
  height: 35px;
  font-size: 24px;
  font-weight: 800;
  margin-top: 8px;
  border: none;
  margin-left: 40px;
  padding-left: 5px;
  width: 94%;
  background-color: transparent;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: var(--branco);
}
.survey form .questions .inputWrapper input:focus {
  outline: none;
}
.survey form .questions .inputWrapper:hover {
  border: solid 2px var(--azul);
  border-radius: 9px;
}
.survey form .questions .inputWrapper:hover::before {
  bottom: 3px;
}
.survey form .questions .inputWrapper::before {
  content: "R$:";
  left: 2px;
  position: absolute;
  font-size: 24px;
  bottom: 5px;
  color: var(--escuro);
}
.survey form .disputequestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}
.survey form .disputequestions label {
  font-weight: 700;
  font-size: 19px;
  color: var(--branco);
  height: 40px;
  background-color: var(--cinza);
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border-radius: 9px;
}
.survey form .disputequestions label input[type=radio] {
  display: none;
}
.survey form .disputequestions label:hover {
  border: solid 2px var(--azul);
  color: var(--azul);
}
.survey form .disputequestions .selected {
  color: var(--verde);
  border: solid 2px var(--verde);
}
.survey form #submitButton {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 35px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}
.survey form #submitButton:hover {
  border: solid 2px var(--branco);
}
.survey form #submitButton:disabled {
  opacity: 0.6;
}
.survey form #submitButton:disabled:hover {
  border: none;
}
.survey #result {
  max-width: 600px;
  width: 100%;
  margin-top: 60px;
}
.survey #result p {
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 10px;
}
.survey #result p .formInfo {
  font-size: 20px;
  font-weight: 800;
  color: var(--azul);
}
.survey #result .results {
  width: 100%;
  margin-top: 50px;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border-radius: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.survey #result .results p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.survey #result .results .dotAfter {
  position: relative;
}
.survey #result .results .dotAfter::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(80%, black), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, black 80%, transparent 50%);
  background-size: 5px 1px;
}
.survey #result .results .total {
  position: relative;
}
.survey #result .results .total b {
  color: var(--azul);
}
.survey #result .results .total::before {
  position: absolute;
  content: "";
  top: -5px;
  width: 100%;
  height: 1px;
  background-color: var(--escuro);
}
.survey input[type=number]::-webkit-inner-spin-button,
.survey input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.survey input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.survey input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .survey h2 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .survey h2 {
    max-width: 90%;
    font-size: 16px;
  }
  .survey form {
    max-width: 90%;
    padding-top: 0;
  }
  .survey form .questions {
    font-size: 16px;
    margin-top: 30px;
  }
  .survey form .questions .inputWrapper {
    height: 29px;
  }
  .survey form .questions .inputWrapper #disputeValue {
    font-size: 16px;
    margin-left: 25px;
  }
  .survey form .questions .inputWrapper::before {
    font-size: 16px;
    bottom: 3px;
  }
  .survey form .questions .inputWrapper:hover::before {
    bottom: 1px;
  }
  .survey form .disputequestions label {
    font-size: 16px;
  }
  .survey #result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .survey #result p {
    font-size: 14px;
    width: 100%;
    margin-left: 60px;
  }
  .survey #result p .formInfo {
    font-size: 14px;
    color: var(--branco);
  }
  .survey #result .results {
    max-width: 90%;
    margin-top: 20px;
    padding: 30px 10px;
    padding-bottom: 0;
  }
  .survey #result .results p {
    font-size: 14px;
    width: unset;
    margin-left: unset;
  }
}/*# sourceMappingURL=Survey.css.map */