.survey {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 18px;
    margin-top: 70px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    width: 100%;
    
    .questions {
      margin-top: 40px;
      font-weight: 700;
      font-size: 19px;
      display: flex;
      flex-direction: column;

      .inputWrapper {
        position: relative;
        background-color: var(--cinza);
        color: var(--branco);
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        border-radius: 9px;
        
        input {
          height: 35px;
          font-size: 24px;
          font-weight: 800;
          margin-top: 8px;
          border: none;
          margin-left: 40px;
          padding-left: 5px;
          width: 94%;
          background-color: transparent;
          transform: translateY(-3px);
          color: var(--branco);

          &:focus{
            outline: none;
          }
        }

        &:hover {
          border: solid 2px var(--azul);
          border-radius: 9px;

          &::before {
          bottom: 3px;
    }
        }

        &::before {
          content: 'R$:';
          left: 2px;
          position: absolute;
          font-size: 24px;
          bottom: 5px;
          color: var(--escuro);
        }
      }
    }

    .disputequestions {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      label {
        font-weight: 700;
        font-size: 19px;
        color: var(--branco);
        height: 40px;
        background-color: var(--cinza);
        margin-top: 3px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        border-radius: 9px;

        input[type="radio"] {
          display: none;
        }

        &:hover {
          border: solid 2px var(--azul);
          color: var(--azul);
        }
      }

      .selected {
        color: var(--verde);
        border: solid 2px var(--verde);
      }
    }

    #submitButton {
      background-color: var(--azul);
      border: none;
      color: var(--branco);
      font-size: 20px;
      font-weight: 600;
      width: 150px;
      height: 35px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;

      &:hover {
        border: solid 2px var(--branco);
      }
    }
  }

  #result {
    max-width: 600px;
    width: 100%;
    margin-top: 60px;

    p {
      font-size: 23px;
      font-weight: 800;
      margin-bottom: 10px;

      .formInfo {
        font-size: 20px;
        font-weight: 800;
        color: var(--azul);
      }
    }

    .results {
      width: 600px;
      margin-top: 50px;
      background-color: white;
      padding: 30px 30px 10px 30px;
      border-radius: 15px;
      margin-bottom: 30px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

      p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }

      .dotAfter {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-image: linear-gradient(90deg, black 80%, transparent 50%);
          background-size: 5px 1px;
        }
      }

      .total {
        position: relative;
        b {
          color: var(--azul);
        }

        &::before {
          position: absolute;
          content: "";
          top: -5px;
          width: 100%;
          height: 1px;
          background-color: var(--escuro);
        }
      }
    }
  }
}
