header {
  background-color: var(--escuro);
  padding: 10px 0;
  padding-left: 100px;

  h1 {
    font-size: 26px;
    font-weight: 500;
    color: var(--branco);

    b {
      font-weight: 700;
    }
  }
}