* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;

  --escuro: #060E18;
  --branco: #FAFAFA;
  --azul: #0a3496;
  --verde: rgb(66, 238, 32);
  --cinza: #6D7383;

}

html {
  scroll-behavior: smooth;
  
  body {
  background: linear-gradient(to bottom, #5B6E8C, #839EC9, #ABBDD9, #779EDB, #5B6E8C);
  height: 100vh;
  }
}
